/* Purple Dark scheme*/
:root {
  --primary: #b39ddb;
  --primary-text: #7b5ea7;
  --primary-hover: #9e88cc;
  --primary-focus: rgba(179, 157, 219, 0.25);
  --primary-inverse: rgba(0, 0, 0, 0.75);
  --primary-background: #f3e5f5;

  --secondary: #78909c;
  --secondary-text: #4d6572;
  --secondary-hover: #62727b;
  --secondary-focus: rgba(120, 144, 156, 0.25);
  --secondary-inverse: rgba(255, 255, 255, 0.75);
  --secondary-background: #eceff1;

  --success: #81c784;
  --success-text: #4a8a5c;
  --success-hover: #6fb374;
  --success-focus: rgba(129, 199, 132, 0.25);
  --success-inverse: rgba(0, 0, 0, 0.75);
  --success-background: #e8f5e9;

  --info: #64b5f6;
  --info-text: #3a8dda;
  --info-hover: #52a7e7;
  --info-focus: rgba(100, 181, 246, 0.25);
  --info-inverse: rgba(0, 0, 0, 0.75);
  --info-background: #e3f2fd;

  --warning: #ffb74d;
  --warning-text: #d98216;
  --warning-hover: #ffa726;
  --warning-focus: rgba(255, 183, 77, 0.25);
  --warning-inverse: rgba(0, 0, 0, 0.75);
  --warning-background: #fff3e0;

  --danger: #ef9a9a;
  --danger-text: #b93838;
  --danger-hover: #e57373;
  --danger-focus: rgba(239, 154, 154, 0.25);
  --danger-inverse: rgba(0, 0, 0, 0.75);
  --danger-background: #ffebee;
}
