.closeButton {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closeButton:hover {
  color: rgba(0, 0, 0, 0.5) !important;
  transform: scale(1.2) !important;
  transition: 0.3s;
}

.closeButton:focus {
  outline: none;
}

.closeButton:active {
  transition: 0.3s;
  transform: scale(0.9) !important;
}

.alertTitle {
  font-weight: bold;
  font-size: 1.2rem;
}

.alert {
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.alert p {
  margin: 0;
}

.alert p.details {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.alertInfo {
  background-color: var(--info-background);
}
.alertInfo p,
.alertInfo span,
.alertInfo li {
  color: var(--info-text) !important;
}

.alertSuccess {
  background-color: var(--success-background);
}
.alertSuccess p,
.alertSuccess span,
.alertSuccess li {
  color: var(--success-text) !important;
}

.alertWarning {
  background-color: var(--warning-background);
}
.alertWarning p,
.alertWarning span,
.alertWarning li {
  color: var(--warning-text) !important;
}

.alertError {
  background-color: var(--danger-background);
}
.alertError p,
.alertError span,
.alertError li {
  color: var(--danger-text) !important;
}
